# 依賴套件 (Dependencies)
node_modules/
/assets-cache
/dist/

# Expo 專屬
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# 執行環境與本地配置 (Environment/Local config)
.vs/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.direnv/

# 測試與覆蓋率 (Tests/Coverage)
/coverage
/.nyc_output

# 建置產物 (Build outputs)
/ios/build/
/android/build/
/android/app/build/
*.apk
*.aab
*.ipa

# 編輯器與系統暫存 (Editor/OS)
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Mac 系統隱藏檔
.DS_Store
.AppleDouble
.LSOverride

# 排除系統路徑與暫存檔
**/%ProgramData%/
**/UUS/
**/State/

# 額外的 Visual Studio 產物
[Bb]in/
[Obj]/
*.user
*.userres
*.docstates